@import 'variables';

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    color: $primary-color;


    #message, #name, #email {
        display: flex;
        border-radius: .2rem;
        width: 40rem;
        font-size: 1rem;
        padding: .5rem;
        margin-bottom: 1rem;
    }

    #name, #email {
        max-height: 2.5rem;
    }

    #message {
        margin-bottom: 3rem;
    }

    .btn {
        background: #9C2E8F ;
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        color: $primary-color;
        // margin-left: 32rem;
        
    }
}

@media screen and (max-width: 760px){


    .contact-container {
        #message, #name, #email {
            width: 20rem;
        }
    }
}