.header, .header2 {

    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1rem;
    height: 7rem;
    color: white;
    transition: .3s ease-in-out;
    z-index: 1000;
  }

  .header {
    background-color: transparent;
  }
  
  .header2 {
  
    background-color: red;
  }
  
  .navbar-items {
    list-style: none;
  }
  
  .navbar-item {
    display: inline;
    padding: 1rem;
  }
  
  .links {
    text-decoration: none;
    color: white;
  }
  
  .links:hover {
    color: black;
  }
  
  .title {
    font-weight: 500;
    font-size: 1.5rem;
  }
  